@keyframes block1{
	0% {background-color: transparent; border: 0; margin-left: 100%;}
	10% {background-color: transparent; border: 0;}
	}
	
@keyframes block2{
	0% {background-color: transparent; border: 0;}
	10% {background-color: transparent; border: 0;}
	20% {background-color: transparent; border: 0;}
	30% {background-color: transparent; border: 0;}
	40% {background-color: transparent; border: 0;}
	50% {background-color: transparent; border: 0;}
	60% {background-color: transparent; border: 0;}
	}
	
@keyframes block3{
	0% {background-color: transparent; border: 0; margin-right: 100%;}
	10% {background-color: transparent; border: 0;}
	}
	
@keyframes ball{
	0% {margin-top: 50%;}
	100% {margin-bottom: 50%;}
	}
	
*{
	margin: 0;
	padding: 0;
	}
	
#BlockAnimation{
	display: flex;
	height: 50vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 5vh;
	margin-bottom: 20vh;
	}
	
.block{
	box-sizing: border-box;
	height: 33%;
	width: 33%;
	background-color: red;
	border: 2px solid LimeGreen;
	position: relative;
	animation-duration: 3s;
	}
	
#block1{
	animation-name: block1;
	}
	
#block3{
	animation-name: block3;
	}
	
#block2{
	animation-name: block2;
	}
	
	
#BlockAnimation2{
	display: flex;
	height: 300px;
	width: 100vw;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 100px;
	}
	
#top, #bottom{
	background-color: red;
	height: 10%;
	width: 60%;
	}
	
#top, #bottom, #ball{
	border: 2px solid black;
	}
	
#ball{
	position: relative;
	background-color: grey;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	animation-name: ball;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
	}
	
	

	
	
	
	
	
	
	