*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	box-sizing: border-box;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	}
	
body{
	background-color: #DDD;
	font-family: Arial;
	}
	
#container, #external, #copyright_area{
	width: 80vw;
	margin: auto;
	}
	
#top_area, #timeline, #bottom_images, #gallery{
	display: flex;
	flex-direction: column;
	align-items: center;
	}
	
h1, h2, h3{
	text-align: center;
	}
	
#top_area h1{
	margin-top: 50px;
	}
	
#top_area h2{
	font-size: 18px;
	font-weight: normal;
	font-style: italic;
	}
	
#top_area h3{
	margin-top: 10px;
	margin-bottom: 30px;
	}

figure{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60vw;
	padding: 5vw;
	background-color: #FFF8DC;
	}
	
figcaption{
	margin-top: 5px;
	}
	
#anne_main, figcaption{
	width: 50vw;
	}
	
#about{
	margin-top: 30px;
	}
	
#timeline{
	margin-top: 50px;
	}
	
#timeline h2{
	margin-bottom: 30px;
	}
	
#timeline li{
	margin-bottom: 20px;
	list-style-type: disc;
	}
	
#bottom_images h1{
	margin-top: 50px;
	margin-bottom: 30px;
	}
	
#bottom_images figure{
	width: 80vw;
	background-color: inherit;
	margin-bottom: 30px;
	}

#bottom_images img, #bottom_images figcaption{
	width: 70vw;
	}
	
#gallery{
	margin-top: 30px;
	}
	
#gallery h1{
	text-align: center;
	margin-bottom: 30px;
	}
	
#gallery_images{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	}
	
#gallery_images img{
	width: 80%;
	margin-bottom: 20px;
	padding: 10px;
	background-color: #FFF8DC;
	}
	
#external{
	margin-top: 80px;
	text-align: center;
	}
	
#external a{
	color: black;
	}
	
#copyright_area{
	text-align: center;
	padding-bottom: 40px;
	margin-top: 30px;
	font-size: 15px;
	}
	
#copyright_area a{
	color: DarkBlue;
	}
	

	


@media (max-width: 320px){
	body{
	font-size: 15px;
	}
	
	
#top_area h1{
	margin-top: 40px;
	}
	
#top_area h2{
	font-size: 17px;
	}
	
#top_area h3{
	margin-top: 8px;
	margin-bottom: 25px;
	}
	
figcaption{
	margin-top: 4px;
	}
	
#about{
	margin-top: 25px;
	}
	
#timeline{
	margin-top: 40px;
	}
	
#timeline h2{
	margin-bottom: 25px;
	}
	
#timeline li{
	margin-bottom: 15px;
	}
	
#bottom_images h1{
	margin-top: 40px;
	margin-bottom: 40px;
	}
	
#bottom_images figure{
	margin-bottom: 25px;
	}
	
#gallery{
	margin-top: 25px;
	}
	
#gallery h1{
	margin-bottom: 25px;
	}
	
#gallery_images img{
	margin-bottom: 15px;
	padding: 8px;
	}
	
#external{
	margin-top: 60px;
	}
	
#copyright_area{
	padding-bottom: 30px;
	margin-top: 20px;
	font-size: 14px;
	}
	
}


@media (min-width: 481px) and (max-width: 800px){
	body{
	font-size: 4.5vw;
	}
	
#top_area h1{
	margin-top: 70px;
	}
	
#top_area h2{
	font-size: 5vw;
	}
	
#top_area h3{
	margin-top: 20px;
	margin-bottom: 40px;
	}
	
figcaption{
	margin-top: 10px;
	}
	
#about{
	margin-top: 40px;
	}
	
#timeline{
	margin-top: 60px;
	}
	
#timeline h2{
	margin-bottom: 40px;
	}
	
#timeline li{
	margin-bottom: 25px;
	}
	
#bottom_images h1{
	margin-top: 60px;
	margin-bottom: 60px;
	}
	
#bottom_images figure{
	margin-bottom: 40px;
	}
	
#gallery{
	margin-top: 40px;
	}
	
#gallery h1{
	margin-bottom: 40px;
	}
	
#gallery_images img{
	margin-bottom: 40px;
	padding: 20px;
	}
	
#external{
	margin-top: 100px;
	}
	
#copyright_area{
	margin-top: 40px;
	padding-bottom: 50px;
	font-size: 4vw;
	}
	
}
	
	
@media (min-width: 801px){
	body{
	font-size: 3.5vw;
	}
	
#top_area h1{
	margin-top: 10vh;
	}
	
#top_area h2{
	font-size: 4vw;
	}
	
#top_area h3{
	margin-top: 5vh;
	margin-bottom: 10vh;
	}
	
figure{
	width: 50vw;
	padding: 5vw;
	background-color: #FFF8DC;
	}

#anne_main, figcaption{
	width: 40vw;
	}
	
figcaption{
	margin-top: 3vh;
	}
	
#about{
	margin-top: 10vh;
	}
	
#timeline{
	margin-top: 15vh;
	}
	
#timeline h2{
	margin-bottom: 10vh;
	}
	
#timeline li{
	margin-bottom: 5vh;
	}
	
#bottom_images h1{
	margin-top: 12vh;
	margin-bottom: 8vh;
	}
	
#bottom_images figure{
	margin-bottom: 12vh;
	}
	
#bottom_images img, #bottom_images figcaption{
	width: 60vw;
	}
	
#gallery{
	margin-top: 10vh;
	}
	
#gallery h1{
	margin-bottom: 15vh;
	}
	
#gallery_images{
	flex-direction: row;
	justify-content: center;
	}
	
#gallery_images img{
	width: 30%;
	height: 40vh;
	object-fit: cover;
	margin-left: 1.5vw;
	margin-right: 1.5vw;
	margin-bottom: 5vw;
	padding: 2.5vw;
	}
	
#external{
	margin-top: 15vh;
	}
	
#copyright_area{
	margin-top: 10vh;
	padding-bottom: 10vh;
	font-size: 3vw;
	}
	
}
	
	
	
	
	
	
	
	
	
	