*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	}
	
#menu{
	height: 60%;
	width: 200px;
	position: absolute;
	}
	
#title{
	display: flex;
	}
	
h1{
	text-align: center;
	font-size: max(5vw, 25px);
	margin-left: 55px;
	margin-right: 10px;
	margin-top: 10px;
	}
	
#MenuButton{
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-left: 10px;
	}
	
#MenuButton div{
	height: 4px;
	width: 30px;
	margin-top: 5px;
	background-color: black;
	border-radius: 30%;
	}
	
#menu ul{
	background-color: #888888;
	height: 100%;
	width: 0%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	padding-top: 30px;
	margin-top: 10px;
	transition: linear 0.5s;
	}
	
#menu ul li{
	padding-left: 20px;
	font-family: Arial;
	text-transform: uppercase;
	font-size: 25px;
	margin-bottom: 10px;
	}
	
#menu ul li:hover{
	background-color: #DDD;
	transition: linear 0.5s;
	}
	











