*{
	margin: 0;
	-webkit-tap-highlight-color: transparent;
	}
	
@font-face{
	font-family: "Secular";
	src: local("Secular.ttf"), local("Secular"), url("Secular.ttf") format("truetype");
	}

@font-face{
	font-family: "Teko";
	src: local("Teko.ttf"), local("Teko"), url("Teko.ttf") format("truetype");
	}
	
html{
	scroll-behavior: smooth;
	}
	
body{
	font-family: "Secular";
	color: white;
	background-color: black;
	}
	
#back{
	position: absolute;
	width: 14vw;
	left: 2vw;
	transition: ease-out 0.1s;
	}
	
#back:hover{
	width: 16vw;
	}
	
#ImageBlock{
	height: 60px;
	width: 60px;
	margin-left: 82vw;
	transition: ease-out 0.1s;
	}
	
#ImageBlock:hover{
	height: 80px;
	width: 80px;
	margin-left: 77vw;
	margin-bottom: -3vh;
	}
	
#Rafael{
	margin-top: 10%;
	margin-left: 20%;
	height: 70%;
	width: 70%;
	object-fit: cover;
	border: 2px solid #1F51FF;
	border-radius: 50%;
	}
	
#Rafael:hover{
	box-shadow: 0px 0px 20px 7px blue;
	}
	
#TopButton{
	height: 40px;
	width: 40px;
	position: fixed;
	right: 10px;
	top: 50vh;
	}
	
p{
	font-size: 5vw;
	text-align: center;
	margin-top: 10vh;
	}
	
#container{
	font-family: "Teko";
	font-size: 8vw;
	margin-top: 5vh;
	text-align: center;
	margin-bottom: 20vh;
	margin-left: 5vw;
	margin-right: 5vw;
	}
	
#container a{
	display:block;
	text-decoration: none;
	color: inherit;
	transition: ease-out 0.3s;
	}
	
#container a:visited{
	color: #228B22;
	}
	
#container a:hover{
	border-bottom: 2px solid white;
	font-size: 9vw;
	}
	
#container a:active{
	color: yellow;
	}
	
	
	
@media all and (min-width: 481px) and (max-width: 780px){
	#TopButton{
	height: 60px;
	width: 60px;
	right: 20px;
	}
	
	#ImageBlock{
	height: 100px;
	width: 100px;
	margin-left: 83vw;
	}
	
	#ImageBlock:hover{
	height: 120px;
	width: 120px;
	margin-left: 80vw;
	margin-bottom: -2vh;
	}
	
	#Rafael{
	border: 3px solid #1F51FF;
	}
	
	p{
	font-size: 5vw;
	text-align: center;
	margin-top: 10vh;
	}
	
	#container{
	font-family: "Teko";
	font-size: 8vw;
	margin-top: 5vh;
	text-align: center;
	margin-bottom: 20vh;
	margin-left: 5vw;
	margin-right: 5vw;
	}
	
	#container a:hover{
	border-bottom: 3px solid white;
	font-size: 9vw;
	}
}

@media all and (min-width: 781px) and (max-width: 1200px){
	#TopButton{
	height: 70px;
	width: 70px;
	right: 30px;
	}
	
	#ImageBlock{
	height: 130px;
	width: 130px;
	margin-left: 83vw;
	}
	
	#ImageBlock:hover{
	height: 150px;
	width: 150px;
	margin-left: 81vw;
	margin-bottom: -2vh;
	}
	
	#back{
	position: absolute;
	width: 10vw;
	left: 2vw;
	}
	
	#back:hover{
	width: 12vw;
	}
	
	#Rafael{
	border: 4px solid #1F51FF;
	}
	
	p{
	font-size: 4vw;
	text-align: center;
	margin-top: 10vh;
	}
	
	#container{
	font-family: "Teko";
	font-size: 7vw;
	margin-top: 5vh;
	text-align: center;
	margin-bottom: 20vh;
	margin-left: 5vw;
	margin-right: 5vw;
	}
	
	#container a:hover{
	border-bottom: 3px solid white;
	font-size: 8vw;
	}
}

@media all and (min-width: 1201px) and (max-width: 1600px){
	#TopButton{
	height: 90px;
	width: 90px;
	right: 40px;
	}
	
	#ImageBlock{
	height: 170px;
	width: 170px;
	margin-left: 87vw;
	}
	
	#ImageBlock:hover{
	height: 190px;
	width: 190px;
	margin-left: 85vw;
	margin-bottom: -2vh;
	}
	
	#back{
	position: absolute;
	width: 10vw;
	left: 2vw;
	}
	
	#back:hover{
	width: 12vw;
	}
	
	#Rafael{
	border: 5px solid #1F51FF;
	}
	
	p{
	font-size: 4vw;
	text-align: center;
	margin-top: 10vh;
	}
	
	#container{
	font-family: "Teko";
	font-size: 6vw;
	margin-top: 5vh;
	text-align: center;
	margin-bottom: 20vh;
	margin-left: 5vw;
	margin-right: 5vw;
	}
	
	#container a:hover{
	border-bottom: 3px solid white;
	font-size: 7vw;
	}
}
	
@media all and (min-width: 1601px){
	#TopButton{
	height: 120px;
	width: 120px;
	right: 50px;
	}
	
	#ImageBlock{
	height: 230px;
	width: 230px;
	margin-left: 86vw;
	}
	
	#ImageBlock:hover{
	height: 250px;
	width: 250px;
	margin-left: 85vw;
	margin-bottom: -2vh;
	}
	
	#back{
	position: absolute;
	width: 10vw;
	left: 2vw;
	}
	
	#back:hover{
	width: 12vw;
	}
	
	#Rafael{
	border: 6px solid #1F51FF;
	}
	
	p{
	font-size: 4vw;
	text-align: center;
	margin-top: 10vh;
	}
	
	#container{
	font-family: "Teko";
	font-size: 5vw;
	margin-top: 5vh;
	text-align: center;
	margin-bottom: 20vh;
	margin-left: 5vw;
	margin-right: 5vw;
	}
	
	#container a:hover{
	border-bottom: 3px solid white;
	font-size: 6vw;
	}
}

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	