*{
	padding: 5px;
	margin: 0;
	}
	
body{
	padding-bottom: 10vh;
	line-height: 40px;
	}

input, textarea, select{
	outline: 0;
	}
	
.menosespaco{
	margin-bottom: 8vh;
	}
	
.maisespaco{
	margin-left: 5vw;
	}
	
h1{
	font-family: "Chilanka";
	text-align: center;
	}
	
.line h4{
	display: inline;
	font-size: 13px;
	}
	
.center{
	text-align: center;
	}
	
textarea{
	margin-top: 40px;
	resize: none;
	height: 100px;
	width: 300px;
	}
	
#termos{
	padding-top: 10vh;
	}

#confirmar{
	font-size: 14px;
	font-weight: 600;
	padding: 15px;
	margin-top: 10px;
	border-radius: 28px 28px 28px 28px;
	}
	
#confirmar:hover{
	color: white;
	background-color: green;
	}
	
	
	
	
	
	
	
	