*{
	margin: 0;
	}
	
body{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	}
	
form{
	margin-top: 40px;
	margin-bottom: 100px;
}
	
label{
	display: flex;
	flex-direction: column;
	align-items: center;
	}
	
input{
	margin-top: 20px;
	margin-bottom: 20px;
	}
	
#inline input{
	display: inline;
	margin-left: 5px;
	margin-right: 5px;
	}
	
input:focus::placeholder{
	color: transparent;
	}
	
	
	

	
	
	
	
	
	
	
	
	
	
	