*{
	padding-top: 10px;
	margin: 0;
	}
	
html{
	font-size: 5px;
	}
	
body{
	font-size: 8px;
	}

div{
	margin-bottom: 20px;
	}
	
h1{
	font-family: "Chilanka";
	font-size: 6em;
	text-align: center;
	}
	
.bloco{
	background-color: #DDD;
	margin-top: 40px;
	}
	
.bloco p{
	margin-bottom: 20px;
	}
	
#texto1{
	font-size: 2em;
	}
	
#texto2{
	font-size: 2em;
	}
	
#texto3{
	font-size: 2em;
	}
	
#texto4{
	font-size: 2rem;
	}
	
#texto5{
	font-size: 2rem;
	}
	
#texto6{
	font-size: 2rem;
	}

	
	
	
	
	
	
	
	
	
	
	
	
	