*{
	padding-top: 5px;
	margin: 0;
	}
	
body{
	text-align: center;
	}
	
h1{
	font-family: "Chilanka";
	}

table{
	border: solid black 4px;
	}
	
table th{
	background-color: grey;
	}
	
table tr:hover{
	background-color: #DDD;
	}
	
table td, th{
	border: solid black 2px;
	padding: 5px;
	}
	
	
	
	
	