*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	}
	
body{
	background-color: #36454F;
	}
	
address{
	padding-bottom: 20px;
	color: white;
	}
	
address a{
	color: #1F51FF;
	}
	
#w{
	color: LimeGreen;
	}
	
div{
	display: flex;
	height: 80%;
	}
	
aside{
	width: 40%;
	background-color: Grey;
	}
	
main{
	flex: 1;
	background-color: #DDD;
	}
	
header, footer{
	height: 10vh;
	background-color: #36454F;
	}
	
