*{
	margin: 0;
	}
	
body, div{
	text-align: center;
	margin: auto;
	}
	
h1{
	font-size: max(5vw, 30px);
	margin-top: 20px;
	}
	
#Square{
	width: 200px;
	height: 200px;
	background-color: yellow;
	border: 2px solid black;
	margin-top: 50px;
	transition: border-radius linear 1s;
	}
	
#Square:hover{
	background-color: red;
	border-radius: 50%;
	}
	
	
	
	
	
	
	