*{
	margin: 0;
	}
	
h1{
	margin-bottom: 60px;
	}
	
body{
	text-align: center;
	}
	
#vhvw{
	background-color: #DDD;
	margin-left: 25vw;
	height: 50vh;
	width: 50vw;
	}
	
#porcentagem{
	margin: 25%;
	background-color: blue;
	height: 50%;
	width: 50%;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	