*{
padding: 0;
margin: 0;
}

#bloco1, #bloco2, #bloco3{
font-size: 20px;
color: white;
position: absolute;
border: 5px solid black;
height: 90px;
width: 100px;
float: left;
}

#bloco1{
z-index: 1;
background-color: red;
}

#bloco2{
z-index: 2;
background-color: blue;
margin-top: 50px;
margin-left: 10px;
}

#bloco3{
z-index: 3;
background-color: green;
margin-top: 100px;
margin-left: 20px;
}
